{# templates/form/dynamic_form_success.html.Twig #}

{% extends 'base.html.Twig' %}

{% block body %}

    {% set ta = 0 %}
    <div class="d-flex justify-content-center align-items-center container">
        <div class="py-5 px-3">
            <h3 class="mb-4">Розв'язання задачі лінійного програмування<br> симплекс методом</h3>
            <h5 class="mb-4">Маємо наступну математичну модель:</h5>
            {% set pos = -1 %}
            {% set x = 1 %}
            <p>F = {% for elem in targetFunc%}
                    {% if pos == -1 %}
                        {{ elem }}x<sub>{{ x }}</sub>
                        {% set pos = 0 %}
                        {% elseif elem == 'max' or elem == 'min' %}
                            => {{ elem }}
                        {% else %}
                            + {{ elem }}x<sub>{{ x }}</sub>
                        {% endif %}
                    {% set x = x + 1%}
                {% endfor %}</p>


            {% for row in matrix %}
                {% set pos = -1 %}
                {% set x = 1 %}
                <p>{% for elem in row%}

                        {% if pos == -1 %}
                            {{ elem }}x<sub>{{ x }}</sub>
                            {% set pos = 0 %}

                        {% elseif pos == 1 %}
                            {{ elem }}

                        {% else %}

                            {% if elem == '<=' or elem == '>='%}
                                {{ elem }}
                                {% set pos = 1%}
                            {% else %}
                                + {{ elem }}x<sub>{{ x }}</sub>
                            {% endif %}

                        {% endif %}
                        {% set x = x + 1%}
                    {% endfor %}</p>
            {% endfor %}
            <h5 class="mb-4">Приведемо математичну модель до канонічного вигляду: </h5>

            {% for row in canonical %}
            {% set pos = -1 %}
                {% set x = 1 %}
                <p>{% for elem in row%}

                        {% if pos == -1 %}
                            {{ elem }}x<sub>{{ x }}</sub>
                        {% set pos = 0 %}

                        {% elseif pos == 1 %}
                            {{ elem }}

                        {% else %}

                            {% if elem == '=' %}
                                {{ elem }}
                                {% set pos = 1%}
                            {% else %}
                        + {{ elem }}x<sub>{{ x }}</sub>
                            {% endif %}

                        {% endif %}
                        {% set x = x + 1%}
                {% endfor %}</p>
            {% endfor %}

            <h5 class="mb-4">Складаємо вхідну симплекс-таблицю: </h5>
    {% for rTable in tables%}
        {% if ta!=0 %}
        <h6 class="mb-4">Маємо не оптимальний план.<br>Складаємо наступну симплекс-таблицю: </h6>
        {% endif %}
        {% set ta = ta + 1 %}
    <table class="table">
        <thead class="thead">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            {% for variable in rTable.targetFuncVariables %}
                <th>{{ variable|fraction }}</th>
            {% endfor %}
        </tr>
        </thead>
        <thead class="thead-dark">
        <tr>

            <th>C</th>
            <th>B</th>
            {% for i in 0..rTable.rowsTable %}
                <th>x{{ i|fraction }}</th>
            {% endfor %}
        </tr>
        </thead>
        {% for i in 0..rTable.callsTable-1 %}
        <thead class="thead-light">
            <tr>
                <td>{{ rTable.cbasis[i] }}</td>
                <td>x{{ rTable.basis[i] + 1}}</td>
                <td>{{ rTable.B[i]|fraction }}</td>
                {% for cell in rTable.table[i] %}
                    <td>{{ cell|fraction}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </thead>
        <thead class="thead-dark">
        <tr>
            <th></th>
            <th>△</th>
            {% for variable in rTable.delta %}
                <th>{{ variable|fraction }}</th>
            {% endfor %}
        </tr>
        </thead>
    </table>
        <br><br>
    {% endfor %}

            {% if answer.status == 'decided' %}
                <h5 class="mb-2">Оптимальний план: </h5>
                <h5 class="mb-1">{% for point in  answer.points %}
                    x{{ point[0]+1|fraction }} = {{ point[1]|fraction }};
                {% endfor %}</h5>
                <h3 class="m-0">Відповідь: {{ answer.answer|fraction }}.</h3>
                {% else %}
                    <h5 class="m-0">Розв'язків немає</h5>
            {% endif %}

        </div>
    </div>



{% endblock %}
