{# templates/form/index.html.Twig #}

{% extends 'base.html.Twig' %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center container">
        <div class="form-group py-5 px-3">
            <h5 class="mb-2">Введіть кількість змінних та обмежень</h5>
            {{ form(form) }}
        </div>
    </div>


{% endblock %}
