{# templates/form/dynamic_form.html.Twig #}

{% extends 'base.html.Twig' %}

{% block body %}

    <div class="d-flex justify-content-center align-items-center container">
        <div class="form-group py-5 px-3 ">

            {{ form_start(form) }}
            <h5 class="m-0">Заповніть коефіцієнти змінних, натисніть Далі.</h5>
            <div class="form-row mt-3">
                {% set i = 0 %}
                {% for child in form.f %}

                    <div class="form-group col-2">
                        <div class="d-flex align-items-center">
                            {% if i == 0 %}
                            <span> F=</span>
                            {% elseif i < parameters %}
                                <span>+ </span>
                            {% endif %}
                            {{ form_label(child) }}
                            {{ form_widget(child) }}
                        </div>
                    </div>
                    {% set i = i + 1 %}
                {% endfor %}
            </div>
                {% for rowIndex in range(1,constraints) %}
            <div class="form-row">
                {% set i = 0 %}
                {% for child in attribute(form, 'row_' ~ rowIndex) %}
                                <div class="form-group col-2 ">
                                    <div class="d-flex align-items-center">
                                        {% if i != 0 and i<=parameters %}
                                            <span>+</span>
                                        {% endif %}
                                        {{ form_label(child) }}
                                                {{ form_widget(child) }}
                                            </div>
                                </div>
                    {% set i = i + 1 %}
                {% endfor %}
            </div>
                {% endfor %}


            {{ form_rest(form) }}
        </div>
    </div>
    <script>
        // Get all label elements on the page
        var labels = document.getElementsByTagName('label');

        // Convert each label to a span
        for (var i = 0; i < labels.length; i++) {
            var label = labels[i];
            var span = document.createElement('span');

            // Copy the content and attributes of the label to the span
            span.innerHTML = label.innerHTML;
            for (var j = 0; j < label.attributes.length; j++) {
                var attr = label.attributes[j];
                span.setAttribute(attr.name, attr.value);
            }

            // Replace the label with the span
            label.parentNode.replaceChild(span, label);
        }
    </script>
{% endblock %}

